---
import Layout from '../layouts/Layout.astro';
import "../assets/app.css";
---
<html>
  <head></head>
  <body>
    <div class="card card-border bg-base-100 w-full">
        <figure>
            <img src="/folder.jpg" alt="photo of folder" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Welcome to Webcaddy</h2>
          <p>Your Private Data Manager</p>
          <div class="card-actions justify-start">
            <button id="getStartedBtn" class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
  </body>
  </html>

  <style>
    html,
    body {
      margin: 0;
      width: 400px;
      height: 100px;
    }
  </style>

  <script src="tabhandler.js" type="module" />